@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css');
@import url('http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');
@import url('https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css');

* {
    box-sizing: border-box;
    margin: 0;
}
:root {
    --accent: #03b077;
    --accent-light-opacity: #03b07724;

    --accent-dark: #1d6156;
    --accent-light: #5acfa9;
    --accent-lighter: #b1eeda;
    --accent-lightest: #c6f6e7;

    --accent-danger: #eb5858;
    --accent-danger-light: #eb58580a;

    --bg: #f4f6f9;
    --bg-layer1: #fff;
    --bg-layer2: #f5f6f9;
    --bg-layer3: #f0f2f5;
    --bg-layer4: #e4e6eb;

    --fc-strong: #222736;
    --fc-body: #5c6173;
    --fc-body-light: #9299ad;
    --fc-body-lighter: #b2b9ce;

    --border-color: #e0e4f5;

    --padding: 12px;

    --subscription-gold: rgb(254, 223, 55);
    --subscription-gold-bg: rgba(254, 223, 55, 0.15);

    --subscription-bronze: #cd7f32;
    --subscription-bronze-bg: #cd7f3226;

    --subscription-silver: #c0c0c0;
    --subscription-silver-bg: #c0c0c026;
}

body {
    background-color: var(--bg);

    font-family: 'Inter';
    font-size: 14px;
    font-weight: 400;
    line-height: calc(1em * 1.618);

    color: var(--fc-body);
}

h1 {
    font-size: 36px;
    line-height: calc(36px * 1.618);
    color: var(--fc-strong);
    font-weight: 800;
    letter-spacing: 2%;

    /* color: red !important; */
}

h2 {
    font-size: 24px;
    line-height: calc(24px * 1.618);
    color: var(--fc-strong);
    font-weight: 700;
    letter-spacing: 2%;
}

.title {
    font-family: 'Inter';
    font-size: 1em;
    font-weight: 600;
    color: var(--fc-strong);
}

.caption {
    font-size: 1em;
    font-weight: 400;
    color: var(--fc-body-light);
}
.strong {
    font-size: 1em;
    font-weight: 400;
    color: var(--fc-strong);
}

.smaller-text {
    font-size: 0.8em;
    color: var(--fc-body);
}

.pre-title {
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.05em;
}

.col {
    display: flex;
    gap: 12px;
}
button {
    background-color: transparent;
    border: none;
    cursor: pointer;

    font-size: 1em;
}

.btn {
    display: flex;
    width: fit-content;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: fit-content;

    padding: 12px 18px;
    gap: 8px;
    border-radius: 8px;
    align-self: stretch;

    font-weight: 500;

    /* width: 100%; */
}
.btn-fill {
    width: 100%;
}

.btn-outlined-danger {
    border: 1px solid #eb5858;
    color: #eb5858;
}
.btn-outlined {
    border: 1px solid var(--accent);
    color: var(--accent);
}

.btn-primary {
    background-color: var(--accent);
    color: #fff;
}
.btn-secondary {
    background-color: var(--bg-layer2);
    color: var(--fc-body);
}

.btn-plain {
    background-color: transparent;
    color: var(--fc-strong);
    /* border: 1px solid red; */
}

.btn-danger {
    color: var(--accent-danger);
}
.btn-danger:hover {
    background-color: var(--accent-danger-light);
}

.btn-danger-tinted {
    color: var(--accent-danger);
    background-color: var(--accent-danger-light);
}

.btn span {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: fit-content;
}
.btn span svg {
    width: 18px;
    height: 18px;
}

.btn-container {
    display: flex;
    gap: 12px;
}

.btn-container-left {
    justify-content: flex-end;
    display: flex;
    gap: 12px;
}

.btn-link {
    text-decoration: none;
}

.card {
    margin-top: 1em;
    background-color: var(--bg-layer3);
    border-radius: 16px;
    padding: 12px 24px;

    display: flex;
    flex-direction: column;
}

.card h1 {
    text-align: end;
    font-size: 64px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid var(--border-color);
}

.switch {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 28px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

input {
    border-radius: 7px;
    border: 1px solid var(--border-color);
    padding: 12px 12px;
    color: var(--fc-body);
}

input:focus {
    /* outline: 1px solid rgba(3, 176, 119, 0.14); */
    outline: 3px solid var(--accent-light-opacity);
    border: 1px solid var(--accent);
}

.custom__inputs label {
    /* border: 1px solid rgb(219, 219, 219); */
    display: flex;
    align-items: center;
    position: relative;
    /* min-width: 268px; */
    height: 50px;
}

.custom__inputs span {
    position: absolute;
    text-overflow: ellipsis;
    transform-origin: left;
    font-size: 14px;
    left: 12px;
    pointer-events: none;
    transition: transform ease-out 0.1s;

    color: var(--fc-body-light);
}
.custom__inputs input {
    width: 100%;
    /* min-width: 268px; */
    height: 50px;
    vertical-align: middle;
    color: var(--fc-body);
    text-overflow: ellipsis;
}

.custom__inputs input:valid + span {
    transform: scale(calc(10 / 12)) translateY(-14px);
}
.custom__inputs input:valid {
    padding-top: 24px;
    font-size: 14px;
}

textarea {
    border-radius: 7px;
    border: 1px solid var(--border-color);
    padding: 12px 12px;
    color: var(--fc-body);
    font-family: 'Inter';
    font-size: 1em;
}
textarea:focus {
    /* outline: 1px solid rgba(3, 176, 119, 0.14); */
    outline: 3px solid var(--accent-light-opacity);
    border: 1px solid var(--accent);
}

select {
    background-color: var(--bg-layer1);
    padding: 1em;

    border-radius: 7px;
    border: 1px solid var(--border-color);

    color: var(--fc-body);
}
select:focus {
    outline: 3px solid var(--accent-light-opacity);
    border: 1px solid var(--accent);
}

.tf-short {
    width: 300px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: '';
    height: 24px;
    width: 24px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: var(--accent);
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--accent);
}

input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.box {
    width: 100px;
    height: 100px;
}
.l1 {
    background-color: var(--bg-layer4);
}
.l2 {
    background-color: var(--bg-layer3);
}
.l3 {
    background-color: var(--bg-layer2);
}
.l4 {
    background-color: var(--bg-layer1);
}
.a1 {
    background-color: var(--accent-dark);
}
.a2 {
    background-color: var(--accent);
}
.a3 {
    background-color: var(--accent-light);
}
.a4 {
    background-color: var(--accent-lighter);
}
.a5 {
    background-color: var(--accent-lightest);
}
.t1 {
    background-color: var(--fc-strong);
}
.t2 {
    background-color: var(--fc-body);
}
.t3 {
    background-color: var(--fc-body-light);
}
.t4 {
    background-color: var(--fc-body-lighter);
}
.colors {
    display: flex;
    flex-direction: row;
}

a.link {
    color: var(--accent);
    text-decoration: none;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.link span {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.link svg {
    width: 1em;
    height: 1em;
}

.status-chip {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0px 8px;
    border-radius: 25px;
    max-width: fit-content;

    letter-spacing: 0.05em;
    font-weight: 600;
    font-size: 0.85em;
}

.status-chip-pending {
    background: #5171e6;
    color: #fff;
}

.status-chip-success {
    background: #03af76;
    color: #fff;
}

.icon-card {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    width: fit-content;

    gap: 4px;
    color: var(--fc-body-light);
    font-weight: 500;
}

.icon-card-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    padding: 10px;
}

.unit-attributes-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    width: fit-content;
    gap: 12px;
}

.chip {
    padding: 8px 16px 8px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    border-radius: 25px;
    color: var(--fc-body);
    border: 1px solid var(--border-color);
    font-weight: 500;
}

.chip-icon {
    color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: auto;
}
.chip-icon i {
    color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chip-selected {
    border: 1px solid var(--accent);
    color: var(--accent);
    background: #03b0770a;
}

.subs-card {
    border-radius: 12px;
    padding: 10px;
    display: flex;
    width: fit-content;
    justify-content: center;
    align-items: center;
    gap: 12px;

    font-weight: 600;
    letter-spacing: 1px;
}

.subs-card span {
    display: flex;
    justify-content: center;
    align-items: center;
}

.subs-gold {
    background-color: var(--subscription-gold-bg);
    color: var(--subscription-gold);
}

.vl {
    /* margin: 18px; */
    width: 1px;

    align-self: stretch;
    border-left: 1px solid var(--border-color);
}

.checkbox-container {
    display: flex;
    width: fit-content;
    gap: 12px;
}

.checkbox-input {
    /* // Code to hide the input */
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;

    &:checked + .checkbox-tile {
        border-color: var(--accent);
        background-color: var(--accent);
        /* box-shadow: 0 5px 10px rgba(#000, 0.1); */
        box-shadow: 0px 0px 0px 5px rgba(3, 176, 119, 0.2);
        color: #2260ff;
        /* check icon */
        /* &:before {
            transform: scale(1);
            opacity: 1;
            background-color: #2260ff;
            border-color: #fff;
        }

        .checkbox-icon,
        .checkbox-label {
            color: #fff;
        } */
    }

    /* &:focus + .checkbox-tile {
        background-color: var(--accent);
        box-shadow: 0px 0px 0px 5px rgba(3, 176, 119, 0.2);
        color: #fff;
        &:before {
            transform: scale(1);
            opacity: 1;
        }
    } */
}
.checkbox-input:checked + .checkbox-tile {
    border-color: var(--accent);
    background-color: var(--accent);
    /* box-shadow: 0 5px 10px rgba(#000, 0.1); */
    box-shadow: 0px 0px 0px 5px rgba(3, 176, 119, 0.2);
    color: #2260ff;
}

.checkbox-input:checked + .checkbox-tile .checkbox-icon,
.checkbox-input:checked + .checkbox-tile .checkbox-label {
    color: #fff;
}

.checkbox-input:checked + .checkbox-tile::before {
    transform: scale(1);
    opacity: 1;
    background-color: #2260ff;
    border-color: #fff;
}

.checkbox-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 12px;
    gap: 8px;

    min-width: 90px;
    width: fit-content;

    /* width: 7rem;
    min-height: 7rem; */
    border-radius: 0.5rem;
    border: 1px solid var(--fc-body);
    background-color: #fff;
    /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); */
    transition: 0.15s ease;
    cursor: pointer;
    position: relative;

    /* &:hover {
        border-color: var(--accent);
        &:before {
            transform: scale(1);
            opacity: 1;
        }
    } */
}

.checkbox-checker:before {
    content: '';
    position: absolute;
    display: block;
    width: 1.25rem;
    height: 1.25rem;
    border: 2px solid #b5bfd9;
    background-color: #fff;
    border-radius: 50%;
    top: 0.25rem;
    left: 0.25rem;
    opacity: 0;
    transform: scale(0);
    transition: 0.25s ease;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='192' height='192' fill='%23FFFFFF' viewBox='0 0 256 256'%3E%3Crect width='256' height='256' fill='none'%3E%3C/rect%3E%3Cpolyline points='216 72.005 104 184 48 128.005' fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='32'%3E%3C/polyline%3E%3C/svg%3E");
    background-size: 12px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.checkbox-icon {
    transition: 0.375s ease;
    color: var(--fc-body);
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox-icon svg {
    width: 32px;
    height: 32px;
}

.checkbox-label {
    color: var(--fc-body);
    transition: 0.375s ease;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
}

.stepper-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    color: var(--fc-strong);
}

/* quantity  */
.stepper {
    max-width: 9rem;

    display: flex;
    align-items: center;
    border: 1px solid var(--border-color);
    border-radius: 16px;
    padding: 5px 10px;
    background-color: var(--bg-layer1);
    width: fit-content;
}

.stepper-borderless {
    border: 0;
}

.stepper .form-control {
    border: 0;
    padding: 10px 0;
    text-align: center;
    width: 50px;
    font-size: 16px;
}

.form-control[type='number']::-webkit-inner-spin-button,
.form-control[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/*

Card Radio

*/
.radio-card-container {
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    flex-direction: column;
    gap: 12px;
}
.radio-card {
    display: inline-flex;
    max-width: 300px;
    align-items: center;
    justify-content: space-evenly;
}
.radio-card .option {
    border: 2px solid var(--border-color);
    background: transparent;

    display: flex;
    flex-grow: 1;
    align-items: center;
    padding: 12px;
    gap: 12px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.radio-card .option .dot {
    position: relative;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 2px solid var(--accent);
}
.radio-card .option .dot::before {
    position: absolute;
    content: '';
    top: 3px;
    left: 3px;
    width: 10px;
    height: 10px;
    background: var(--accent);
    border-radius: 50%;
    opacity: 0;
    transform: scale(0);
    transition: all 0.3s ease;
}
input[type='radio'] {
    display: none;
}

.radio-card .option-input:checked + label {
    background: #03b07726;
    border-color: var(--accent);
}
.radio-card .option-input:checked + label .dot::before {
    opacity: 1;
    transform: scale(1);
}

/*

Range Slider

*/

.slider-wrapper {
    position: relative;
    /* width: 95vmin; */
    background-color: var(--bg-layer1);
    /* padding: 12px; */
    border-radius: 10px;
    max-width: 500px;
}
.slider-container {
    position: relative;
    width: 100%;
    height: 100px;
    /* margin-top: 30px; */
}

input[type='range'] {
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    outline: none;
    position: absolute;
    margin: auto;
    padding: 12px 0;
    top: 0;
    bottom: 0;
    background-color: transparent;
    pointer-events: none;
}
.slider-track {
    width: 100%;
    height: 5px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    border-radius: 5px;
}
input[type='range']::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    height: 5px;
}
input[type='range']::-moz-range-track {
    -moz-appearance: none;
    height: 5px;
}
input[type='range']::-ms-track {
    appearance: none;
    height: 5px;
}
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 1.7em;
    width: 1.7em;
    background-color: #03b077;
    cursor: pointer;
    margin-top: -9px;
    pointer-events: auto;
    border-radius: 50%;
}
input[type='range']::-moz-range-thumb {
    -webkit-appearance: none;
    height: 1.7em;
    width: 1.7em;
    cursor: pointer;
    border-radius: 50%;
    background-color: #03b077;
    pointer-events: auto;
}
input[type='range']::-ms-thumb {
    appearance: none;
    height: 1.7em;
    width: 1.7em;
    cursor: pointer;
    border-radius: 50%;
    background-color: #03b077;
    pointer-events: auto;
}
input[type='range']:active::-webkit-slider-thumb {
    background-color: #ffffff;
    border: 3px solid #03b077;
}
.values {
    display: none;
    background-color: #03b077;
    width: 32%;
    position: relative;
    margin: auto;
    padding: 10px 0;
    border-radius: 5px;
    text-align: center;
    font-weight: 500;
    font-size: 25px;
    color: #ffffff;
}
.values:before {
    display: none;
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    border-top: 15px solid #03b077;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    margin: auto;
    bottom: -14px;
    left: 0;
    right: 0;
}

.slider-input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    padding: 12px;
    padding-top: 0;
}

.slider-input-container .custom__inputs {
    flex-grow: 1;
}

.dash-separator {
    width: 24px;
    height: 1px;
    background-color: var(--fc-body-lighter);
}
