nav {
  z-index: 1;
}

.main-container {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  position: relative;
  gap: 18px;
  width: 100%;
}

.search-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  margin-top: 10px;
}

input.search-input {
  outline: none;
  border: 1px solid var(--border-color);
  padding: 12px;
  border-radius: 7px;
  font-family: inherit;
  width: 100%;
  font-size: 1.1em;

  display: block;
  padding: 12px 12px 12px 40px;
  background: white url("/cr_demo/assets/icons/search.svg") no-repeat 12px;
}