* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Inter";
  position: relative;
  width: 360px;
  height: 800px;
  background: #f4f6f9;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 0px;
  gap: 16px;
  margin-top: 50px;
  margin-left: 9px;
}

.header p {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;

  color: #000000;
}

.background-img-1 {
  z-index: -1;
  position: absolute;
  width: 381px;
  height: 190px;
  left: 0px;
  top: -50px;
}

.background-img-2 {
  position: absolute;
  width: 381px;
  height: 173px;
  left: 0px;
  top: 85px;
}

.background-img-3 {
  position: absolute;
  width: 381px;
  height: 173px;
  left: 0px;
  top: 220px;
}

.main-box_container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
  margin-top: 93px;
  margin-left: 24px;
  color: white;
}

.main-box_container a {
  color: white;
}
.box-1_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 17px 10px;
  gap: 10px;
  width: 151px;
  height: 137px;

  background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
  border-radius: 10px;
}

.box-2_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 21px 20px;
  gap: 10px;
  width: 151px;
  height: 137px;

  background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
  border-radius: 10px;
}

.box-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 14px;
}

.box-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 10px;
}
