.nav {
    z-index: 1;
}

.filter {
    display: flex;
    padding-left: 30px;
    position: relative;
    top: 81px;
}

.filtr-location {
    width: 100px;
    text-align: center;
    border-bottom: 2px solid var(--accent);
}

.filtr-location .title {
    color: var(--accent);
}

.filter-filter {
     width: 100px;
     text-align: center;
}

.filter-filter .title {
    color: var(--fc-body);
}

.location-container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    top: 100px;
    padding: 0 11px 35px 11px;
}

.search-location, .location-radius, .map, .boarders, .price-range, .rating, .quantity, .ammenities, .facilities, .inclusion, .rules {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 15px 25px;
    background: var(--bg-layer1);
    border: 1px solid var(--border-color);
    box-shadow: 0px 0px 4px rgba(224, 228, 245, 0.25);
    border-radius: 8px;
}

.search-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2px;
    border-bottom: 1px solid var(--border-color);
}

.search-position {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 12px;
    gap: 17px;
}

.search-position-location, .location-radius-meters, .rating-star, .ammenities-list, .inclusion-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
}

button {
    padding: 0 0;
}

.chip {
    flex-direction: row;
    gap: 1px;
    padding: 0 8px;
    height: 31px;
}

.location-radius-title, .map-title, .boarder-title, .price-range-title, .rating-title, .quantity-title, .ammenities-title, .facilities-title, .inclusion-title, .rules-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    border-bottom: 1px solid var(--border-color);
}

.location-radius-meters, .map-zone, .map-inter, .boarders-available, .quantity-computation, .ammenities-list, .facilities-list, .inclusion-list, .rules-list {
    padding-top: 12px;
}

.location-radius-meters > form {
    gap: 16px;
}

.map-zone {
    display: flex;
}

.map-inter {
    display: flex;
    flex-direction: column;
}

.map-map {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 536px;
    border: 1px solid var(--fc-body);
}
.filter-container {
    position: relative;
    top: 100px;
    display: none;
    flex-direction: column;
    gap: 20px;
    padding: 0 11px 35px 11px;
}

.rules-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.boarders-available form button  .chip {
    padding: 8px 15px;
    gap: 4px;
}

.boarders-available > form {
    gap: 6px;
}

.rating-star {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 12px;
}

.star {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 11px;
}

.star > i {
    font-size: 28px;
    color: var(--accent);
}

.quantity-computation {
    display: flex;
    justify-content: center;
    align-items: center;
}

.quantity-computation .chip {
    height: 46px;
    border-radius: 10px;
}

.input {
    width: 100%;
}

.input input {
    width: 50px;
    text-align: center;
    border: none;
    outline: none;
}

.ammenities-list form {
    gap: 10px;
}

.ammenities-list form button  .chip {
    padding: 8px 15px;
    gap: 5px;
}

.facilities form {
    gap: 10px;
}

.facilities-list form button  .chip {
    padding: 8px 15px;
    gap: 5px;
}

.inclusion form {
    gap: 10px;
}

.inclusion-list form button  .chip {
    padding: 8px 15px;
    gap: 5px;
}

.rules-list button  .chip {
    padding: 8px 15px;
    gap: 5px;
}