main {
    display: flex;
}
section {
    box-sizing: border-box;
    margin-left: 288px;
    display: flex;
    flex-direction: column;
    width: calc(100% - 288px);
}
.sb {
    width: 288px;
    height: 100vh;
    position: fixed;
    padding: 12px 24px;
    background-color: var(--bg-layer1);

    display: flex;
    flex-direction: column;
    gap: 24px;

    z-index: 100;
}
.sb-brand {
    display: flex;
    align-items: center;
    gap: 12px;
}

.sb-brand-logo {
    display: flex;
    align-items: center;
}
.sb-item-group {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.sb-item-group > a {
    text-decoration: none;
}

a {
    color: var(--fc-strong);
}

.sb-item {
    display: flex;
    align-items: center;

    padding: 12px 18px;

    border-radius: 8px;

    gap: 8px;
}
.sb-item-icon {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 36px;
}
.sb-item-title {
    font-weight: 500;
}

.sb-selected {
    color: var(--accent);
    background-color: var(--bg-layer2);
}

.tb {
    background-color: var(--bg-layer1);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 24px;
    gap: 10px;
    border-bottom: 1px solid #e0e4f5;

    width: 100%;
}

.tb-profile-container {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 2px solid var(--border-color);
    padding: 2px;

    position: relative;
}

.tb-profile {
    border-radius: 50%;
}
.tb-profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.tb-profile-action {
    border: 3px solid var(--border-color);
    background-color: var(--bg-layer1);
    border-radius: 50%;
    display: flex;
    width: fit-content;

    position: absolute;
    bottom: -4px;
    right: -4px;

    color: var(--fc-strong);
}

.container {
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 24px;
}

.table-container {
    display: flex;
    flex-direction: column;
    align-self: stretch;

    padding: 12px 0;
    border-radius: 12px;
    gap: 12px;

    background-color: var(--bg-layer1);
}

table {
    align-self: stretch;
    border-collapse: collapse;
}

thead {
    background-color: #fafafa;
    align-self: stretch;
}

th {
    font-weight: 500;
    font-size: 0.9em;
    padding: 12px;
}

tbody {
    padding: 0 12px;
}

td {
    text-align: center;
    padding: 12px;
    background-color: var(--bg-layer1);
    border-bottom: 1px solid var(--border-color);
    color: var(--fc-strong);
}

.td-center {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

td {
    max-width: 150px;
}
.td-picture-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
    flex-grow: 0;
    flex-shrink: 0;
}
.td-picture-box {
    width: 60px;
    height: 60px;
    border-radius: 12px;
    object-fit: cover;
    overflow: hidden;
}
.td-picture-box img {
    width: 60px;
    height: 60px;
    object-fit: cover;
}
.td-picture {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
}
.td-picture img {
    width: 32px;
    height: 32px;
    object-fit: cover;
}
.td-picture-content {
    text-align: start;
    color: var(--fc-body-light);
}

.search-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 12px;
    gap: 12px;
}
.filter-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 12px;
    gap: 12px;
}

input.search-input {
    outline: none;
    border: 1px solid var(--border-color);
    padding: 12px;
    border-radius: 7px;
    font-family: inherit;
    width: 100%;

    font-size: 1.1em;

    display: block;
    padding: 12px 12px 12px 40px;
    background: transparent url('/cr_demo/assets/icons/search.svg') no-repeat
        12px;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--fc-body-lighter);
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: var(--fc-body-lighter);
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: var(--fc-body-lighter);
}

.title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-container .btn {
    align-self: center;
}

.breadcrumbs {
    display: flex;
    align-items: center;
}

.breadcrumb-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--fc-strong);
}

.unit-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px;

    background-color: var(--bg-layer1);
    border-radius: 16px;
}
.unit-intro {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.unit-price {
    font-size: 1.25em;
    color: var(--accent);
    font-weight: 500;
}

.user-info {
    display: flex;
    flex-direction: row;
    gap: 5px;

    color: var(--fc-body-light);
}
.user-info-pic {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    overflow: hidden;
}
.user-info-pic img {
    width: inherit;
    height: inherit;
    object-fit: cover;
    overflow: hidden;
}

.unit-section {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.unit-images {
    display: flex;
    gap: 8px;
}

.unit-image {
    width: 180px;
    height: 110px;
}

.unit-image img {
    width: inherit;
    height: inherit;
    object-fit: cover;
    overflow: hidden;
}

.gradient {
    background-color: var(--accent-dark);
    padding: 25px;
}
.gradient-shape {
    width: 48px;
    height: 48px;
    border-radius: 12px;
    background: #5171e5;
    position: relative;
}
.gradient-icon {
    position: absolute;
    top: 12px;
    left: -12px;
    width: 48px;
    height: 48px;
    /* From https://css.glass */
    /* background: rgba(255, 255, 255, 0.15); */
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.2) 0%,
        rgba(255, 255, 255, 0) 100%
    );
    border-radius: 12px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);

    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.td-icon-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* border: 1px solid red; */
}

.td-icon-action {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--bg-layer1);
    border-radius: 16px;
    padding: 1em;

    height: fit-content;

    color: var(--fc-body-light);
    transition: 0.2s;
}
.td-icon-action:hover {
    background-color: var(--bg);
}

.td-details {
    padding: 0;
}

.td-icon-action.tr-selected svg {
    transform: rotate(90deg);
    transition: 0.2s;
}

.td-icon {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
}
.td-icon span {
    border: 1px solid var(--border-color);
    border-radius: 8px;
    padding: 10px;

    color: var(--fc-body);
}
.td-icon svg {
    width: 32px;
    height: 32px;
}

.attr-details {
    display: none;
    padding: 12px 24px;
    align-self: stretch;
    flex-direction: column;
    justify-content: flex-start;
    text-align: start;
    align-items: start;
    gap: 12px;

    /* padding: 12px; */
}

.attr-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 36px;
}

.attr-icon-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.attr-icon {
    display: flex;
    align-items: center;
    width: fit-content;

    border: 1px solid var(--border-color);
    border-radius: 8px;
    padding: 10px;

    font-size: 24px;
    color: var(--fc-body);
}

.attr-icon-container p {
    text-decoration: underline;
}
.attr-field {
    display: flex;
    align-items: center;
    gap: 12px;
}

.vl {
    margin: 18px;
    width: 1px;

    align-self: stretch;
    border-left: 1px solid var(--border-color);
}

.upload-icon-container {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 12px;
    border-radius: 8px;
    border: 1px solid var(--border-color);

    width: fit-content;
}
.upload-icon {
    width: 36px;
    height: 36px;

    border: 1px solid var(--border-color);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 8px;
}

.tabs-container {
    display: flex;
}

.tab {
    padding: 12px 32px;
    font-weight: 400;
    cursor: pointer;
}

.tab-selected {
    font-weight: 600;
    border-bottom: 2px solid var(--accent);
    padding: 12px 32px;
    color: var(--accent);
}

.tab-content {
    display: none;
}

.card-row-container {
    padding: 24px;
    display: flex;
    border-bottom: 1px solid var(--border-color);
}

.card-row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cr-unit {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 12px;
}

.cr-unit-img {
    width: 60px;
    height: 60px;
    border-radius: 12px;
    overflow: hidden;
}

.cr-unit-img img {
    object-fit: cover;
    width: inherit;
    height: inherit;
}

.subscriptions {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 24px;
}

.subscription {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    font-weight: 600;
    letter-spacing: 2px;
}
.subscription-icon {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 20px;
    border-radius: 50%;
}

.subscription-icon svg {
    width: 48px;
    height: 48px;
}
.subcription-card {
    text-align: center;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px;
    gap: 24px;

    max-width: 322px;
    border-radius: 16px;
    background-color: var(--bg-layer1);
}

.subscription-bronze {
    color: var(--subscription-bronze);
}
.subscription-gold {
    color: var(--subscription-gold);
}
.subscription-silver {
    color: var(--subscription-silver);
}

.features-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid var(--border-color);
    gap: 24px;
}

.feature-new {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 24px;
}
.feature-new div:nth-child(1) {
    flex-grow: 1;
}

.feature {
    display: flex;
    align-items: center;

    text-align: start;
    padding: 10px;
    border: 1px solid var(--border-color);
}

.feature span:nth-child(1) {
    flex-grow: 1;
}
.feature span:nth-child(2) {
    color: var(--accent-danger);
    font-size: 18px;
}

.sub-col-container {
    display: flex;
}

.sub-col1 {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.sub-col2 {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.color-picker-container {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border-radius: 16px;

    background-color: var(--bg-layer1);
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.14);
}

.color-box {
    width: 200px;
    height: 110px;

    background-color: #cd7f32;
}

.color-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.color-content a {
    text-decoration: underline;
}
