.nav {
    z-index: 1;
}
.nav-title {
    display: flex;
    flex-direction: none;
    justify-content: none;
    align-items: none;
}

.filter-section {
    margin: 81px 0 0 15px;
}

.filter {
    display: flex;
    gap: 15px;
}

.filter > a {
    text-decoration: none;
}

.filter .chip {
    height: 30px;
    padding: 5px 14px;
    gap: 0;
}

.filter .chip .smaller-text {
    font-size: 12px;
}

.main-content {
    margin: 20px 15px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 15px;
}

.content-container {
    flex: 1;
    padding-bottom: 15px;
    background: var(--bg-layer1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-bottom: 20px;
}

.content-container > .title {
    height: 10px;
}

.image {
    position: relative;
}

.image img {
    background-size: cover;
    height: 145px;
    width: 330px;
    border-radius: 10px 10px 0 0;
}

.image > .book-mark {
    position: absolute;
    top: 15px;
    right: 15px;
}

.details {
    margin: 0 15px;
}

.ratings {
    margin-top: -6px;
}

.stars > i {
    color: #03b077;
}

.ammenities {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 5px;
}

.ammenities > .chip {
    height: 25px;
    gap: 0;
}

.ammenities .chip-icon > i {
    font-size: 10px;
    color: var(--fc-body);
    padding: 3px;
    background: var(--border-color);
    border-radius: 50%;
}

/* .ammenities > .chip {
    padding: 13px;
    height: 24.5px;
    width: 57.56px;
    background: none;
    margin-right: 5px;
} */

/* .ammenities .chip .chip-icon > .smaller-text {
    margin-top: -4px;
}

.chip-icon > span {
    padding: 2px;
} */
