p {
  color: white;
}

h2 {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;

  background: linear-gradient(90deg, #03b077 -2.06%, #7ab73d 104.45%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.logo-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-box_container {
  display: flex;
  flex-direction: column;
  padding: 0px 12px;
  gap: 24px;
  width: 100%;
}

.sub-box_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 0px 12px;
  gap: 10px;
  width: 100%;
}

.box-1_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0px;
  gap: 12px;
  margin-top: 43px;
  background: #1d6156;
  border-radius: 16px;
}

.top-inner-container {
  display: flex;
  flex-direction: column;
  padding: 12px;
  width: 100%;
}

.box-2_container {
  display: flex;
  flex-direction: column;
  padding: 0px;
  gap: 12px;
  background: #1d6156;
  border-radius: 16px;
  width: 100%;
}

.top-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 6px 0px 30px 6px;
  gap: 12px;
  width: 100%;
}

.gradient {
  margin-left: 10px;
}

.gradient-shape {
  width: 48px;
  height: 48px;
  border-radius: 12px;
  position: relative;
}

.green-box {
  background: var(--accent);
}

.blue-box {
  background: #5171e5;
}

.gradient-icon {
  position: absolute;
  top: 12px;
  left: -12px;
  width: 48px;
  height: 48px;
  /* From https://css.glass */
  /* background: rgba(255, 255, 255, 0.15); */
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  border-radius: 12px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);

  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-text {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.top-text-1 {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  margin-bottom: 17px;
  width: 100%;
}

.top-text-2 {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 19px;
  width: 100%;
}

.inner-items_container {
  display: flex;
  padding: 12px;
  background: #ffffff;
  border-radius: 6px;
  justify-content: center;
  width: 100%;
}

.inner-items_sub {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  padding: 0px;
  width: 100%;
  justify-content: space-evenly;
  text-align: center;
}

.bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
  padding: 12px 24px;
  gap: 4px;
  width: 100%;
  height: 43px;
  border-top: 1px solid #e0e4f5;
}

.bottom > p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #e0e4f5;
}

.arrow-btn {
  width: 20px;
  height: 19px;
  color: white;
}
.bottom-box_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 19px;
  margin-top: 24px;
  width: 100%;
}

.bottom-box_container > p {
  display: flex;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.05em;
  color: #5c6173;
  margin-top: 24px;
}

.sub_bottom-box_container {
  font-family: "Inter";
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px;
  gap: 16px;
  width: 100%;
  background: #ffffff;
  border-radius: 16px;
  margin-bottom: 106px;
}

.content-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 12px 12px;
  gap: 8px;
  width: 55px;
  height: 66px;
  background-color: #f6f8fc;
  border-radius: 8px;
}

.right-side {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.content-1_txt {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #222736;
}
.content-1_no {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 19px;
  color: #222736;
}

.content-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;
  width: 100%;
}
.content-2_txt {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #222736;
}

.content-2_no {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #03b077;
  padding-bottom: 4px;
}

.content-3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
.content-3_txt {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #5c6173;
  padding-left: 5px;
}

.content-3 img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
